:root{
    --green: #7db73f;
    
}

body{
    margin-top: 70px;
}

*{
    font-family: 'poppins', sans-serif;
}

/*GENERALIZED CLASSES*/
.bg-primary{
    background-color: var(--green);
}
.fg-primary{
    color: var(--green);
}

.gray{
    color: #333;
}
.rounded-button{
    border-radius: 30px;
    text-align: center;
}

.btn-white{
    background-color: #fff;
    color: black;
    display: inline-block;
    padding: 8px 30px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    transition: all .3s ease;
}

.btn-white:hover{
    opacity: 0.9;
    color: black;
}

.button{
    padding: 8px 20px;
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    transition: all .3s ease;
}

.btn-color{
    color: white;
    background-color: var(--green);
    transition: all .3s ease;
}

.btn-border{
    border: solid 1px var(--green);
    background: transparent;
    color: black;
}
.btn-black{
    background-color: black;
}
.btn-border:hover{
    background-color: var(--green);
    color: white;
}

.btn-black:hover{
    background-color: var(--green);
    color: white;
}

.btn-color:hover{
    opacity: 0.9;
}

.relative{
    position: relative;
}


.hr-left{
    width: 50px;
    background-color: var(--green);
    border: none;
    height: 3px;
    margin-bottom: 0;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}

.hr-left:after{
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 01px;
    left: 50px;

}


.hr-center-full{
    text-align: center;
    width: 50px;
    background-color: var(--green);
    border: none;
    height: 3px;
    margin-bottom: 0;
}
.hr-center-content,
.hr-center-content-light{
    text-align: center;
    width: 50px;
    background-color: var(--green);
    border: none;
    height: 3px;
    margin-bottom: 0;
}


.hr-center-full::before{
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 01px;
    left: 44.15%;
    
    
}

.hr-center-content-light::before{
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    bottom: 01px;
    left: 43.8%;
    
    
}



.hr-center-content-light::after{
    left: 52.25%;    
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    bottom: 01px;

}




.hr-center-content::before{
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 01px;
    left: 43.8%;
    
    
}


.hr-center-content::after{
    left: 52.25%;    
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 01px;

}


.hr-center-full::after{
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 01px;
    left: 52%;
    
    
}

/*****************************************    
            NAVBAR
*****************************************/


#navbar{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 9999;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'poppins',sans-serif;
}


#navbar .nav-menu .list li{
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}

#navbar .nav-menu .list li a{
    color: #777;
    transition: all .3s ease;
}

#navbar .nav-menu .list li a:hover{
    color: #fff;
}

#navbar .logo-section{
    background-color: white;
    z-index: 9999;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar .booking{
    display: flex;
}

#navbar .booking .contact p{
    color: white;
    font-size: 10px;
}

#navbar .booking .booking-btn{
    display: flex;
    align-items: center;
}


#navbar .booking .contact .font-awe{
    border: solid 1px var(--green);
    border-radius: 50%;
    padding: 2px 3px;

}

#navbar .booking .contact .call-us{
    color: #aaa;
    font-size: 12px;
}



/*****************************************    
            SLIDER
*****************************************/

#slider-section .left-upper{
    background-color: #f7f7f7;
}

.title {
    color: var(--green);  
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 1rem!important;
    margin-bottom: 1.5rem!important;
    
    
}
.heading-white {
    color: #fff;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    font-size:3rem; 
    word-spacing: .4rem;
}
.heading-black {
    color: #000;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    font-size:3rem; 
    word-spacing: .4rem;
}


#slider-section .left-lower .amenities{
    display: flex;
    justify-content: space-around;
    padding: 21px 0;

}
#slider-section .col-md-7{
    height: 100%;
}



#slider-section .left-lower .amenities .amenity .amenity-title{
    font-size: 12px;
}


#slider-section .slider-right-section{
    position: relative;
}


#slider-section .rent-price-section{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #333;
        
}

#slider-section .rent-price-section p:nth-child(2){
    color: white;
}

#slider-section .button-section a{
    display: block;
}

#slider-section .button-section{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/*****************************************    
            PROPERTIES AMENITIES
*****************************************/

#properties-amenities-section .cottage-amenities h3{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 50%;
    letter-spacing: 1px;
    transform: translateX(-50%);
}

#properties-amenities-section{
    background-color: #f4f4f4;
}

#properties-amenities-section .cottage-amenities{
    background-color: #fff;
    font-size: 14px;
    
}

#properties-amenities-section .cottage-amenities .amenities{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 16px 0;
    border-bottom: solid 1px #eee;
}

#properties-amenities-section .cottage-amenities .book-btn a{
    display: block;
    padding: 12px 0;
}
#properties-amenities-section .owl-nav .owl-next{
    background-color: #000;
    color: #fff;
    transition: all .3s ease;
}

#properties-amenities-section .owl-nav .owl-next:hover{
    background-color: var(--green);
}



#properties-amenities-section .owl-nav .owl-prev{
    background-color: #000;
    color: #fff;
    transition: all .3s ease;
}

#properties-amenities-section .owl-nav .owl-prev:hover{
    background-color: var(--green);
}

#properties-amenities-section .owl-nav{
    position: absolute;
    top: 10px;
    right: 10px;
}




/*****************************************    
          VIRTUAL TOUR
*****************************************/

#virtual-tour{
    background: url('../images/img-16.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#virtual-tour .content p{
    color: #ccc;
}

#virtual-tour .img-section{
    border: 4px solid #fff;
    width: 400px;
    margin: 20px auto;
    position: relative;
    transform: translateY(50%);
    z-index: 2;
}




/*****************************************    
            NEARBY PLACES
*****************************************/

#nearby-places-section .map-places-section .place-desc{
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
}

#nearby-places-section .map-places-section .img-section{
    box-shadow: 0px 0px 5px 5px #eee;
}






/*****************************************    
            TESTIMONIAL
*****************************************/


#testimonial{
    background: url('../images/img-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#testimonial .testimonial-card{
    background-color: #fff;
    padding: 10px;

}

#testimonial .testimonial-card .stars{
    display: flex;
    justify-content: flex-end;
    
}

#testimonial .testimonial-card .img-section{
    width: 50px;
    height: 50px;
}

#testimonial .testimonial-card .img-section img{
    border-radius: 50%;
}




/*****************************************    
            TESTIMONIAL.html
            IDENTIFIER SECTION
*****************************************/
#identifier .identifier-img{
    height: 150px;
    background: url('../images/img-16.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#identifier .identifier-title{
    background-color: #111;
    font-family: 'alegrey',sans-serif;
/*    word-spacing: 5px;*/
    color: #777;
    position: absolute;
    right: 0;
    letter-spacing: 0.5px;
    
}

#identifier .identifier-heading .heading-black{
    font-size: 2.25rem!important;
}
#identifier .identifier-heading .title{
    font-size: 1.45rem!important;
    margin-bottom: 1rem!important;
}

#identifier .identifier-title h5{
    font-size: 12px;
}

#identifier .identifier-title .page-name{
    color: #fff;
}

#identifier .identifier-heading{
    background-color: #f5f5f5;
    height: 150px;
}


/*****************************************    
            TESTIMONIAL.html
            CLEINT RATING SECTION
*****************************************/
#client-rating{
    background-color: #f4f4f4;
}

#client-rating .card {
    background-color: #fff;
}

#client-rating .card .stars{
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;
}

#client-rating .card .img-section img{
    border-radius: 50%;
    transform: scale(1.1);
}


#client-rating .card .desc{
    color: #aaa;
    font-style: italic;
}



/*****************************************    
            TESTIMONIAL.html
            STATS SECTION
*****************************************/

#stats{
    width: 100%;
    height: 300px;
    background: url(../images/img-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#stats .stats-record{
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    
}


/*****************************************    
            TESTIMONIAL.html
            ARTICLES SECTION
*****************************************/

#articles-section{
    background-color: #f4f4f4;
}

#articles-section .card{
    background-color: #fff;
}

#articles-section .card .post-details{
    display: flex;
    justify-content: space-around;
}

#articles-section .card .img-section img{
    height: 250px;
}

#articles-section .card>p{
    color: #777;
}

#articles-section .card>a:hover{
    transition: all .3s ease;
    opacity: 0.7;
    color: var(--green);
}

#articles-section .articles{
    overflow: hidden;
}

#articles-section .articles .owl-nav .owl-prev{
    background-color: var(--green);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
}

#articles-section .articles .owl-nav .owl-prev:hover{
    opacity: 0.9;
}


#articles-section .articles .owl-nav .owl-next{
    background-color: var(--green);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-50%);
    transition: all .3s ease;
}

#articles-section .articles .owl-nav .owl-next:hover{
    opacity: 0.9;
}


/*****************************************    
            TESTIMONIAL.html
            ADVERTISE SECTION
*****************************************/

.advertise-section{
    background: url(../images/img-6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    position: relative;
    height: 150px;
    
}

.advertise-section .tag-section .offer{
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;

}

.advertise-section .tag-section{
    color: #fff;
    background: transparent;
    width: 60%;
    height: 100%;
    
    border-right: 90px solid transparent;
    border-bottom: 1px solid #Fff;
    border-top: 90px solid var(--green);
}

.advertise-section .tag-section .tag-content{
        display: flex;
        justify-content: space-around;
        width: 50%;
        align-items: center;
        position: absolute;
        top: 55px;
}

.advertise-section .tag-section a{
    background-color: #fff;
    color: black;
    display: inline-block;
    padding: 8px 30px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    transition: all .3s ease;
}

.advertise-section .tag-section a:hover{
    background-color: #f1f1f1;
}


/*****************************************    
            TESTIMONIAL.html
            SIGN IN SECTION
*****************************************/
#sign-in{
    background-color: var(--green);
    color: #fff;
}

#sign-in .content{
    display: flex;
    justify-content: space-around;
}

#sign-in .content input{
    background-color: transparent;
    border: #aaa solid 1px;
    padding: 5px 10px;
    font-size: 12px;
    width: 300px;

}

#sign-in .content input::placeholder{
    color: #ccc;
}

#sign-in .content input:focus{
    outline: 0;
}

/*****************************************    
            TESTIMONIAL.html
            FOOTER SECTION
*****************************************/
#footer{
    background-color: #111;
}

#footer .hr-left-small{
    width: 25px;
    background-color: var(--green);
    border: none;
    height: 2px;
    text-align: left;
    margin: 20px 0;
}

#footer .hr-left-small::after{
    content: '';
    display: block;
    width: 35px;
    height: 1px;
    background-color: #777;
    position: absolute;
    bottom: 0px;
    left: 25px;
    transform: translateY(-50%) scaleY(0.7);
}

#footer .footer-content{
    display: flex;
    justify-content: center;
}

#footer .footer-content .social-media-section{
    flex-basis: 25%;
    color: #888;
}

#footer .footer-content .social-media-section hr{
    width: 100%;
    height: 1px;
    border-top: none;
    background-color: #333;
    margin-bottom: 15px;
}
#footer .footer-content .social-media-section .social-media-icons span{
    transition: all .3s ease;
    font-size: 18px;
}
#footer .footer-content .social-media-section .social-media-icons span:hover{
    color: var(--green);

}

#footer .footer-content .social-media-section a,
#footer .footer-content .image-gallery-section a{
    transition: all .3s ease;
}

#footer .footer-content .social-media-section a:hover,
#footer .footer-content .image-gallery-section a:hover{
    opacity: 0.9;
    color: var(--green);
}

#footer .footer-content .image-gallery-section{
    flex-basis: 25%;
}

#footer .footer-content .latest-article-section{
    flex-basis: 25%;
}
#footer .footer-content .latest-article-section ul {
    display: inline-block;
}
#footer .footer-content .latest-article-section .articles-list li{
    padding: 10px 0;
    display: inline-block;
}

#footer .footer-content .latest-article-section .articles-list li a{
    color: #888;
    transition: all .3s ease;
}

#footer .footer-content .latest-article-section .articles-list li a:hover{
    color: #eee;
}

#footer .footer-content .contact-us-section{
    flex-basis: 25%;
}
#footer .footer-content .contact-us-section .contact-options li{
    display: flex;
    margin: 15px 0;
    padding: 5px 0;
    transition: all .3s ease;
    color: #888;
}

#footer .footer-content .contact-us-section .contact-options li:hover{
    cursor: pointer;
    color: #eee;
}

#footer .footer-content .images {
}

#footer .footer-content .images img{
    width: 100%;
}

#footer .copyright-section{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #777;
    color: #555;
}

/*****************************************    
            gallery iv column.html
            identifier SECTION
*****************************************/

#identifier .border-overlay{
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 150px solid #fff;
    border-right: 580px solid transparent;
    opacity: 0.5;
}


/*****************************************    
            gallery iv column.html
            pictures SECTION
*****************************************/

#pictures{
    background-color: #f2f2f2;
}

#pictures .cards .card{
    position: relative;
    
}

#pictures .cards .card:hover .card-overlay{
    opacity: 1;
}

#pictures .cards .card .card-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: all .3s ease;
}

#pictures #isotope-filters .button{
    background-color: transparent;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: transparent;
}

#pictures #isotope-filters .button-active{
    background-color: var(--green);
    color: #fff;
/*    transition: all .3s ease;*/
}



#pictures .cards .card .card-overlay p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
